@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 500px;
}

.header {
  background: #919191;
  color: white;
}

.header h1 {
  font-size: 3rem;
  padding: 10px;
  padding-bottom: 0;
}

.header .slogan {
  padding: 10px;
  padding-top: 0;
}

.card-date {
  background-color: #919191;
  width: 100%;
  color: white;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.description {
  margin-top: -5px;
}

.cal-date {
  text-align: center;
}

input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}
